.pagination {
    width: 100%;
    margin: 0.5rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    flex: 0 0 auto;

    .nav+.nav {
        border-left: none;
    }
}